<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=portalbio;AccountKey=AAMY2kthtTa34sBwGIpgIPLS3JdkOmRav/8gkNKjayC/8MtFCxNkh/b2vbnlQrsUPHkB0WmfwnQ8oDTMU317kw==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>
